/******************
 Web Fonts *******
****************/
body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Oxygen', sans-serif;
}
/*********************
 Base Styles *******
****************/
* {
    box-sizing: border-box;
}
body {
    background: #e4e2e2;
    margin: 0;
    font: normal/1.5;
}
h1 {
    font: 5.625/1.3;
    color: #222;
    text-transform: uppercase;
}
h2 {
    font: 1.25em/1.2;
    text-transform: uppercase;
    color: #222;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }  
  li {
    float: right;
  }  
  li a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 1s;
  }  
  li a:hover {
    color: #fff;
  }
/*********************
 Main Styles *******
****************/
/* Header */
.my-name {
    float: left;
}

.main-nav {
    margin: 50px 0;
} 
.prof-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 95%;
    overflow: hidden;
    display: block;
    margin: 40px 0;
}
.my-intro {
    font-size: 1.25em;
    line-height: 1.5;
    padding-top: 20px;
    padding-right: 80px;
    width: 60%;
    float: left;
}
.prof-img {    
    margin: 40px 0;
    margin-left: 120px;
    height: 80%;
    max-width: 60%;
    border-radius: 50%;
    border: 4px solid rgb(15, 15, 15);
}
.box-prof-img {
    float: right;
    height: 250px;
    width: 405px;
    border-bottom: 8px solid #353434;
    border-radius: 4px;
    background: linear-gradient(to left, #d86234, 60%, #9198e5); 
    transition: all 1s;   
}
.box-prof-img:hover{
    border-color:rgb(10, 219, 80);
}

/* Main */
.title {
    padding-top: 50px;
}
.port-img {
    height: 60%;
    width: 90%;
}
.portfolio-content {
    padding: 40px 20px;
}

.col {
    float: left;
    width: 33.33%;
}
/* Contact Main Area */

.contact-container {
    text-align: center;
    width: 450px;
    margin: 0 auto;
}
.box-contact {
    padding: 10px 5px;
}
.contact-info {
    color: #9198e5;
    font-weight: 500px;
    margin-left: 10px;
}

/* Footer */
/**************************
 Layout Containers *******
****************/
.head-container {
    width: 80%;
    margin: 0 auto;
}
.main-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background: #fff;
}
.footer-container {
    height: 50px;
    width: 80%;
    margin: 0 auto;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
/* Viewport 320px and wider */
@media screen and (min-width: 320) {
    
}

@media screen and (min-width: 768px) and (max-width:1019px) {
    .my-name {
        font-size: 20px;
        text-align: center;
        display: block;
        float: none;
    }
    .nav-list {
        font-size: 33px;
        width: 70%;
        margin: 0 auto;
    }
    .prof-img {
        width: 95%;
    }
    .my-intro,
    .box-prof-img {
        width: 40%;
        margin: 0;
        padding: 0;
    }
    .my-intro {
        margin-left: 30px;
    }
    .prof-img {
        margin: 30px 60px 0;
    }       
    /* Main */
    .portfolio {
        width: 90%;
    }
    .col {
        width: 50%;
    }
    .article-box {
        margin: 0 auto;
        font-size: 13px;
        width: 80%;
        padding: 20px 0;
    }
    /* Footer */
    .my-name {
        float: left;
    }    
}

@media screen and (min-width: 1020px) and (max-width: 1400px) {       
    .prof-info {
        width: 95%;
    }

    .my-intro {
        font-size: 1.1em;
        width: 400px;
        margin-left: 70px;
        padding-left: 20px;
    }
      
}