/******************
 Web Fonts *******
****************/
body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Oxygen', sans-serif;
}
/*********************
 Base Styles *******
****************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    color: #222;
    text-transform: uppercase;
}
h2 {
    font: 1.25em/1.2;
    text-transform: uppercase;
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }  
  li a {
    color: #f3b063;
    text-align: center;
    text-decoration: none;
    transition: all 1s;
  }  
  li a:hover {
    color: #fff;
  }
/*********************
 Main Styles *******
****************/
/* Header */
.hero-sec {
    padding-top: 5px;
    height: 100%;
    background: url('../images/hero-bg.jpg') no-repeat center;
    background-size: cover;
}
.nav-list {
    margin-top: 20px;
    width: 100px;
    display: inline-block;
}
.my-name {
    color: #f3b063;
    float: left;
}

.main-nav {
    text-align: center;
    margin: 50px 0;
}
.main-nav li a {
    display: block;
    margin-top: 20px;
    padding: 14px 16px;
}
.prof-info {
    text-align: center;
}
.my-intro {
    text-align: center;
    color: #fff;
    padding: 10px;
}
.prof-img {
    opacity: 0.9;
    height: 200px;
    border: 1px red solid;
    margin: 20px 0;    
    border-radius: 50%;
    border: 4px solid rgb(15, 15, 15);
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.prof-img:hover {
    opacity: 1;
    transform: scale(1.03)
}
/* Main */
.port-img {
    height: 120px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.port-img:hover {
    transform: scale(1.05);
}
.title {
    margin: 20px 0;
    color: #222;
}
.contact-container {
    background: #9198e5;
}
.contact-container h2 {
    text-align: center;    
    color: #222;
    padding: 10px 0;
}
.contact-container p {
    padding: 20px;
}

/* Footer */
.footer-nav {
    color: #222;
}
/**************************
 Layout Containers *******
****************/
.head-container {
    width: 80%;
    margin: 0 auto;
}
.main-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background: #fff;
}
.footer-container {
    height: 50px;
    width: 80%;
    margin: 0 auto;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.article-box {
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;
}

/* Viewport 768px and 1019px */
@media screen and (min-width: 768px) and (max-width:1019px) {
    .my-name {
        font-size: 20px;
        text-align: center;
        display: block;
        float: none;
    }
    .nav-list {
        font-size: 33px;
        width: 70%;
        margin: 0 auto;
    }
    .prof-img {
        width: 95%;
    }
    .my-intro,
    .box-prof-img {
        width: 40%;
        margin: 0;
        padding: 0;
    }
    .my-intro {
        margin-left: 30px;
    }
    .prof-img {
        margin: 30px 60px 0;
    }       
    /* Main */
    .portfolio {
        width: 90%;
    }
    .col {
        width: 50%;
    }
    .article-box {
        margin: 0 auto;
        font-size: 13px;
        width: 80%;
        padding: 20px 0;
    }
    /* Footer */
    .my-name {
        float: left;
    }    
}
/* Viewport 1020 and wider */
@media screen and (min-width: 1020px) and (max-width: 1400px) {       
    /* Header */
    .prof-info {
        width: 95%;
    }

    .my-intro {
        font-size: 1.1em;
        width: 400px;
        margin-left: 70px;
        padding-left: 20px;
    }
    .nav-list {
        display: inline;
    }
        /* Main */
    .title {
        padding-top: 50px;
    }
    .port-img {
        height: 60%;
        width: 90%;
    }
    .portfolio-content {
        padding: 40px 20px;
    }

    .col {
        float: left;
        width: 33.33%;
    }
    /* Contact Main Area */

    .contact-container {
        text-align: center;
        width: 450px;
        margin: 0 auto;
    }
    .box-contact {
        padding: 10px 5px;
    }
    .contact-info {
        color: #9198e5;
        font-weight: 500px;
        margin-left: 10px;
    }
      
}


