/******************
 Web Fonts *******
****************/
body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Oxygen', sans-serif;
}
/*********************
 Base Styles *******
****************/
* {
    box-sizing: border-box;
}
body {
    background: #e4e2e2;
    margin: 0;
    font: normal/1.5;
}
h1 {
    font: 5.625/1.3;
    color: #222;
    text-transform: uppercase;
}
h2 {
    font: 1.25em/1.2;
    text-transform: uppercase;
    color: #222;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }  
  li {
    float: right;
  }  
  li a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 1s;
  }  
  li a:hover {
    color: #fff;
  }
/*********************
 Main Styles *******
****************/
/* Header */
header {
    border: 1px solid red;
}
.my-name {
    float: left;
}

.main-nav {
    margin: 50px 0;
} 
.prof-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    margin: 40px 0;
}
.my-intro {
    font-size: 1.25em;
    line-height: 1.5;
    padding-top: 20px;
    padding-right: 80px;
    width: 60%;
    float: left;
}
.prof-img {    
    margin: 40px 0;
    margin-left: 120px;
    height: 200px;
    max-width: 40%;
    border-radius: 50%;
    border: 4px solid rgb(15, 15, 15);
}

/* Main */
main {
    border: 1px red solid;
}
.port-img {
    height: 240px;
    width: 350px
}
.primary-content {
    border: 1px red solid;
}
.secondary-content {
    
    border: 1px red solid;
}
.col {
    float: left;
    width: 33.33%;
    border: 1px red solid;
}

/* Footer */
/*********************
 Layout Containers *******
****************/
.head-container {
    width: 80%;
    margin: 0 auto;
}
.main-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background: #fff;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
/* Viewport 320px and wider */
@media screen and (min-width: 320) {
    
}

@media screen and (max-width: 768) {
    
}

@media screen and (max-width: 1020) {
    
}